{% extends 'main.html' %}
{% load static %}
   {% block content %}
   <div class="wallet">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <i><img src="{% static 'images/wa1.svg' %}" alt="#"/></i>
                    <h3>Currency </br>Converter</h3>
                    
                    <button type="submit" id="submitBtn"><h5 style="text-align: center; color: black;">CLICK ME</h5> </button>
                
                </div>
                
            </div>
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <i><img src="{% static 'images/wa2.svg' %}" alt="#"/></i>
                    <h3>Temperature Converter</h3>
                    
                    <button type="submit" id="submitButton"><h5 style="text-align: center; color: black;">CLICK ME</h5> </button>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <i><img src="{% static 'images/wa3.svg' %}" alt="#"/></i>
                    <h3> Unit</br>Converter </h3>
                    
                    <button type="submit" id="Btn"><h5 style="text-align: center; color: black;">CLICK ME</h5> </button>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <i><img src="{% static 'images/wa4.svg' %}" alt="#"/></i>
                    <h3> Crypto-Currency Converter </h3>
                    
                    <button type="submit" id="clickMe"><h5 style="text-align: center; color: black;">CLICK ME</h5> </button>
                </div>
            </div>
        </div>
    </div>
</div>
    {%  endblock %}