{% extends 'main.html' %}
  {% load static %}
     {% block content %}
     <div class="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="border_testi">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="titlepage text_align_center">
                                    <h2>Testimonial</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row d_flex">
                            <div class="col-md-10 offset-md-1">
                                <div id="testimo" class="carousel slide our_testimonial" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#testimo" data-slide-to="0" class="active"></li>
                                        <li data-target="#testimo" data-slide-to="1"></li>
                                        <li data-target="#testimo" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="container">
                                                <div class="carousel-caption posi_in">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="testomoniam_text text_align_center">
                                                                <i><img src="{% static 'images/clint.jpg' %}" alt="#"/></i>
                                                                <h3>MorGan Den</h3>
                                                                <span>Currency</span>
                                                                <img src="{% static 'images/icon.png' %}" alt="#" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="testomoniam_text text_align_left">
                                                                <p>Hie!! So I just bumped into this website while looking for the different conversions. I used the currency converter option by clicking on it. The overall presentation was so good and most importantly I was able to do currency conversion for as many countries I want at a single go. I would love to visit it more often. Thank You for the experience. I would suggest that if you also want to do the conversions and be updated visit often. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="container">
                                                <div class="carousel-caption posi_in">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="testomoniam_text text_align_center">
                                                                <i><img src="{% static 'images/person_5.jpg' %}" alt="#"/></i>
                                                                <h3>Rachel Green</h3>
                                                                <span>Unit</span>
                                                                <img src="{% static 'images/icon.png' %%}" alt="#" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="testomoniam_text text_align_left">
                                                                <p>Hie!! So I just bumped into this website while looking for the different conversions. I used the unit converter option by clicking on it. The overall presentation was so good and most importantly I was able to do conversion for as many units I want at a single go. I would love to visit it more often. Thank You for the experience. I would suggest that if you also want to do the conversions and be updated visit often. Would love to try all the sections.. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="container">
                                                <div class="carousel-caption posi_in">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="testomoniam_text text_align_center">
                                                                <i><img src="{% static 'images/person_1.jpg' %}" alt="#"/></i>
                                                                <h3>Joey Tribiani</h3>
                                                                <span>Currency</span>
                                                                <img src="{% static 'images/icon.png' %}" alt="#" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="testomoniam_text text_align_left">
                                                                <p>Hie!! So I just bumped into this website while looking for the different conversions. I used the currency converter option by clicking on it. The overall presentation was so good and most importantly I was able to do currency conversion for as many countries I want at a single go. I would love to visit it more often. Thank You for the experience. I would suggest that if you also want to do the conversions and be updated visit often. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#testimo" role="button" data-slide="prev">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#testimo" role="button" data-slide="next">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% endblock %}