{% extends 'main.html' %}
{% load static %}
   {% block content %}
      <div class="works">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>How It Works</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="works_vedio">
                     <h2>Welcome to conversion world. To access you desired conversion follow the steps mentioned below: <br><br>
                        <table class="table">
                           <thead>
                             <tr>
                               <th scope="col">Steps</th>
                               <th scope="col"></th>
                               <th scope="col">Procedure</th>

                               <th scope="col"></th>

                             </tr>
                           </thead>
                           <tbody>
                             <tr>
                               <th scope="row">1</th>
                               <td></td>
                               <td>Firstly, Go to the services page to access the services we provide.</td>
                               <td></td>
                               
                             </tr>
                             <tr>
                               <th scope="row">2</th>
                               <td></td>
                               <td>Once you have reached there you will see 4 options as of now.</td>
                               <td></td>
                               
                             </tr>
                             <tr>
                               <th scope="row">3</th>
                               <td></td>
                               <td>Choose any conversion of your choice by clicking on the click me button provided there.</td>
                               <td></td>
                             </tr>
                             <tr>
                              <th scope="row">4</th>
                              <td></td>
                              <td>Once you are in you can choose the unit/currency as per your choice.</td>
                              <td></td>
                            </tr>
                            <tr>
                              <th scope="row">5</th>
                              <td></td>
                              <td>Now you may, enter the amount/number to do the following conversions.</td>
                              <td></td>
                            </tr>
                            <tr>
                              <th scope="row">6</th>
                              <td></td>
                              <td>Finally, you will get the desired output</td>
                              <td></td>
                            </tr>
                           </tbody>
                         </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}